@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
//breakpoints
@import "./breakpoints.scss";

//variables scss
@import "./variables.scss";

//media queies

$red: #e20001;
$black: #191919;

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
  overflow: hidden;
  height: 100%;
}

//these are defaults, come after the first div in component
.main-wrapper {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .sub-wrapper {
    // display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
}
//------------------------------

//Home.js
.home {
  visibility: hidden;
  width: 100%;
  height: 100%;
  //transparent textures
  // background: linear-gradient(
  //   90deg,
  //   rgba(240, 235, 212, 1) 0%,
  //   rgba(246, 244, 227, 1) 73%,
  //   rgba(198, 198, 198, 1) 100%
  // );

  background: linear-gradient(
    90deg,
    rgba(255, 143, 0, 1) 0%,
    rgba(83, 143, 113, 1) 58%,
    rgba(40, 80, 65, 1) 100%
  );

  // background-image: url("https://www.transparenttextures.com/patterns/farmer.png");
  overflow: hidden;

  .container {
    // position: relative;
    // overflow: hidden;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //first section---------------------------------------
    .header-top {
      position: relative;
      margin-top: 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include media("<=desktop") {
        margin-top: 0px;
      }
      @include media("<=tablet") {
        margin-top: 0px;
      }
      @include media("<=phone") {
        margin-top: 0px;
      }
      @include media("<=Sphone") {
        margin-top: 0px;
      }
      h2 {
        font-family: "Racing sans one";
        font-size: 1.9em;
        font-weight: 600;
        @include media("<=phone") {
          font-size: 1em;
        }
        @include media("<=Sphone") {
          font-size: 0.9em;
        }
      }
    }
    .border-container {
      width: 100%;
      position: relative;
      .borderLine {
        height: 3px;
        width: 94rem;
        background-color: $black;
        position: absolute;
        @include media("<=desktop") {
          width: 60.3rem;
        }
        @include media("<=tablet") {
          width: 44.3rem;
        }
        @include media("<=phone") {
          width: 24.3rem;
        }
        @include media("<=Sphone") {
          width: 21.3rem;
        }
      }
    }
    .first-section-content {
      width: 100%;
      // height: 100%;
      display: flex;
      justify-content: center;

      h1 {
        color: $white;
        position: absolute;
        font-family: "Racing Sans One";
        padding-top: 100px;
        font-size: 10rem;
        font-weight: 500;
        margin: 0 auto;
        mix-blend-mode: overlay;
        z-index: 1;
        @include media("<=desktop") {
          font-size: 5rem;
        }
        @include media("<=tablet") {
          font-size: 4rem;
        }
        @include media("<=Sphone") {
          font-size: 3rem;
        }
      }
      h3 {
        position: absolute;
        font-family: "Tamgerine";
        font-size: 4rem;
        padding-top: 170px;
        padding-left: 1100px;
        z-index: 9;
        margin: auto;
        @include media("<=desktop") {
          font-size: 3rem;
        }
      }

      .first-section-img {
        padding-top: 6em;
        width: 70%;
        height: 100%;
        position: absolute;
        @include media("<=desktop") {
          height: 60%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    //second section-------------------------------------
    .info-container {
      position: relative;
      padding-top: 500px;
      width: 100%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include media("<=desktop") {
        padding-top: 300px;
      }
      @include media("<=tablet") {
        padding-top: 100px;
      }
      @include media("<=phone") {
        padding-top: 100px;
      }
      h4 {
        // margin-top: 500px;
        margin: 0 auto;
        font-size: 2rem;
        padding-right: 800px;
        @include media("<=desktop") {
          font-size: 1.9rem;
          padding-right: 10px;
          padding-bottom: 60px;
        }

        @include media("<=tablet") {
          font-size: 1.7;
          padding-right: 20px;
          padding-top: 100px;
          padding-bottom: 30px;
        }
        @include media("<=phone") {
          padding-right: 0px;

          font-size: 1.4rem;
          padding-top: 0px;
        }
      }
      .info-bar {
        // height: 100%;
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include media("<=desktop") {
          width: 85%;
        }
        p {
          font-size: 1.1rem;
          @include media("<=desktop") {
            font-size: 1.2rem;
          }
          @include media("<=tablet") {
            font-size: 0.8rem;
          }
          @include media("<=phone") {
            font-size: 0.8rem;
          }
        }
      }
      .bd2-container {
        // height: 100%;
        width: 100%;
        position: relative;

        .bd2 {
          height: 2px;
          width: 94em;
          background-color: $black;
          position: absolute;
          @include media("<=desktop") {
            width: 60.3rem;
          }
          @include media("<=tablet") {
            width: 44.3rem;
          }
          @include media("<=phone") {
            width: 24rem;
          }
          @include media("<=Sphone") {
            width: 21.5em;
          }
        }
      }
      .info-bar2 {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-size: 1.1rem;
          @include media("<=desktop") {
            font-size: 1.2rem;
          }
          @include media("<=tablet") {
            font-size: 0.8rem;
          }
          @include media("<=phone") {
            font-size: 0.5rem;
          }
        }
      }
      .bd3-container {
        width: 100%;
        position: relative;
        .bd3 {
          height: 2px;
          width: 94em;
          background-color: $black;
          position: absolute;
          @include media("<=desktop") {
            width: 60.3rem;
          }
          @include media("<=tablet") {
            width: 44.3rem;
          }
          @include media("<=phone") {
            width: 24em;
          }
          @include media("<=Sphone") {
            width: 21.5em;
          }
        }
      }
      .intro-text {
        padding-left: 800px;
        padding-top: 40px;
        padding-bottom: 200px;
        width: 35%;
        height: 50%;
        @include media("<=desktop") {
          padding-top: 100px;
          padding-left: 50px;
          width: 80%;
        }

        @include media("<=tablet") {
          padding-top: 100px;
          padding-left: 50px;
          width: 80%;
        }
        @include media("<=phone") {
          padding-top: 100px;
          padding-right: 200px;
          padding-left: 200px;
          width: 80%;
        }
        h5 {
          margin: auto;
          font-size: 1.2rem;
          @include media("<=desktop") {
            font-size: 1.8rem;
          }
          @include media("<=tablet") {
            font-size: 1.5rem;
          }
        }
        p {
          @include media("<=desktop") {
            font-size: 1.5rem;
          }
          @include media("<=tablet") {
            font-size: 1.2rem;
          }
          @include media("<=phone") {
            font-size: 0.9rem;
          }
        }
      }
    }

    //third section
    .third-container {
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: -100px;
      @include media("<=desktop") {
        padding-top: 200px;
      }
      @include media("<=tablet") {
        padding-top: 300px;
      }
      @include media("<=phone") {
        padding-top: 150px;
      }
      .third-header {
        padding-top: 100px;
        padding-right: 60rem;
        @include media("<=desktop") {
          display: inline;
          padding-right: 1rem;
        }
        @include media("<=tablet") {
          display: inline;
          padding-right: 1rem;
        }

        h2 {
          margin: auto;
          font-size: 3rem;
          font-weight: 600;
          @include media("<=tablet") {
            font-size: 2rem;
            display: inline;
          }
        }
      }
      .imgCenter {
        position: absolute;
        padding-top: 24.5rem;
        padding-left: 35.5rem;
        width: 25%;
        @include media("<=desktop") {
          padding-top: 35rem;
          padding-left: 22.5rem;
          // width: 20px;
        }
        @include media("<=tablet") {
          padding-top: 22rem;
          padding-left: 16.5rem;
        }
        @include media("<=phone") {
          padding-top: 18rem;
          padding-left: 35vw;
        }
        img {
          min-width: "450px";
          width: 100%;
        }
      }
      .third-img-container {
        margin-top: 200px;
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        // height: 100%;
        // margin-top: -60px;
        .imgOne {
          padding-bottom: 100px;
          padding-right: 10em;
          align-self: center;
          justify-self: center;
          width: 55%;
          @include media("<=tablet") {
            padding-right: 4em;
          }

          img {
            width: 100%;
          }
        }
        .imgTwo {
          padding-bottom: 100px;

          padding-left: 10em;
          align-self: center;
          justify-self: center;
          width: 55%;
          @include media("<=tablet") {
            padding-left: 4em;
          }
          img {
            width: 100%;
          }
        }
        .imgThree {
          padding-right: 10em;
          align-self: center;
          justify-self: center;
          width: 55%;
          @include media("<=tablet") {
            padding-right: 4em;
          }
          img {
            width: 100%;
          }
        }
        .imgFour {
          padding-left: 10em;
          align-self: center;
          justify-self: center;
          width: 55%;
          @include media("<=tablet") {
            padding-left: 4em;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    //fourth section----------------
    .fourth-container {
      width: 100%;
      height: 100%;
      position: relative;
      .fourth-header {
        padding-top: 10em;
        padding-right: 50em;
        // border-bottom: solid;
        h2 {
          margin: auto;
          font-size: 3em;
          font-weight: 600;
          @include media("<=phone") {
            font-size: 2em;
          }
        }
      }
      .fourth-content {
        width: 100%;
        padding-top: 5em;
        padding-bottom: 5em;
        @include media("<=phone") {
          padding-top: 2em;
        }

        a {
          color: black;
          &:hover {
            color: tomato;
            // @include animation(pulse 500ms ease-in-out);
          }
        }
        h3 {
          font-family: "Racing Sans One";
          margin: auto;
          font-size: 6em;
          font-weight: 600;
          padding-left: 21rem;

          @include media("<=phone") {
            font-size: 2em;
            padding-left: 10rem;
          }
        }
        h4 {
          margin: auto;
          padding-left: 23rem;
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 10rem;
          }
        }
        p {
          margin: auto;
          width: 25%;
          padding-top: 1em;
          padding-right: 11em;
          @include media("<=desktop") {
            font-size: 1em;
            padding-left: 12rem;
            width: 60%;
          }
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 1rem;
            width: 100%;
          }
        }
      }

      .fourth-img-container {
        margin-left: 200px;
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 100%;
        @include media("<=phone") {
          width: 320px;
          margin-left: 10px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    //fifth section---------------------
    .fifth-container {
      width: 100%;
      // height: 100%;
      position: relative;
      padding-top: 200px;
      @include media("<=phone") {
        padding-top: 200px;
      }

      .fifth-content {
        width: 100%;
        padding-bottom: 5em;
        // @include media("<=phone") {
        //   padding-top: 2em;
        // }
        a {
          color: black;
          &:hover {
            color: tomato;
            // @include animation(pulse 500ms ease-in-out);
          }

          // @include keyframes(pulse) {
          //   0% {
          //     transform: scale(1);
          //   }
          //   50% {
          //     transform: scale(1.2);
          //   }
          //   100% {
          //     transform: scale((1));
          //   }
          // }
        }
        h3 {
          font-family: "Racing Sans One";
          margin: auto;
          font-size: 6rem;
          font-weight: 600;
          padding-left: 1.5rem;
          @include media("<=phone") {
            font-size: 2em;
            padding-left: 1rem;
          }
        }
        h4 {
          font-size: 1.7rem;
          margin: auto;
          padding-left: 2.5rem;
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 10rem;
          }
        }
        p {
          margin: auto;
          width: 25%;
          padding-top: 1em;
          padding-right: 52em;
          @include media("<=desktop") {
            font-size: 1em;
            padding-left: 1rem;
            width: 80%;
          }
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 1rem;
            width: 100%;
          }
        }
      }
      .fifth-img-container {
        margin-left: 100px;
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 100%;
        @include media("<=phone") {
          width: 320px;
          margin-left: 10px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    //sixthSection-----------
    .sixth-container {
      width: 100%;
      height: 100%;
      position: relative;
      @include media("<=phone") {
        margin-top: 100px;
      }
      .sixth-content {
        width: 100%;
        padding-bottom: 5em;
        a {
          color: black;
          &:hover {
            color: tomato;
            // @include animation(pulse 500ms ease-in-out);
          }

          // @include keyframes(pulse) {
          //   0% {
          //     transform: scale(1);
          //   }
          //   50% {
          //     transform: scale(1.2);
          //   }
          //   100% {
          //     transform: scale((1));
          //   }
          // }
        }
        h3 {
          font-family: "Racing Sans One";
          margin: auto;
          font-size: 6em;
          font-weight: 600;
          padding-left: 30rem;
          @include media("<=desktop") {
            padding-left: 1rem;
          }
          @include media("<=phone") {
            font-size: 2em;
            padding-left: 1rem;
          }
        }
        h4 {
          font-size: 1.7em;
          margin: auto;
          padding-left: 30.5rem;
          @include media("<=tablet") {
            font-size: 1em;
            padding-left: 9rem;
          }
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 10rem;
          }
        }
        p {
          margin: auto;
          width: 25%;
          padding-top: 1em;
          padding-left: 4rem;
          @include media("<=desktop") {
            font-size: 1em;
            padding-left: 11rem;
            width: 60%;
          }
          @include media("<=tablet") {
            font-size: 1em;
            padding-left: 0rem;
            width: 60%;
          }
          @include media("<=phone") {
            font-size: 1em;
            padding-left: 1rem;
            width: 100%;
          }
        }
      }
      .sixth-img-container {
        margin-left: 270px;
        position: absolute;
        overflow: hidden;
        width: 70%;
        height: 100%;
        @include media("<=desktop") {
          width: 720px;
          margin-left: 100px;
        }
        @include media("<=tablet") {
          width: 520px;
          margin-left: 100px;
        }
        @include media("<=phone") {
          width: 320px;
          margin-left: 10px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

//----------------------------------------------------

//section
section {
  position: relative;
  width: 100%;
  height: 1000px;
}

//borderlines

.bd4-container {
  width: 100%;
  position: relative;
  .bd4 {
    height: 3px;
    width: 94rem;
    background-color: $black;
    position: absolute;
    @include media("<=desktop") {
      width: 60.3rem;
    }
    @include media("<=tablet") {
      width: 44.3rem;
    }
    @include media("<=phone") {
      width: 23em;
    }
    @include media("<=Sphone") {
      width: 21em;
    }
  }
}
.bd5-container {
  width: 100%;
  position: relative;
  .bd5 {
    height: 3px;
    width: 94rem;
    background-color: $black;
    position: absolute;
    @include media("<=desktop") {
      width: 60.3rem;
    }
    @include media("<=tablet") {
      width: 44.3rem;
    }
    @include media("<=phone") {
      width: 23em;
    }
    @include media("<=Sphone") {
      width: 21em;
    }
  }
}
